<section class="hero hero--dev">
    <div class="code-animation">
        {{ hero_icon }}
            <img src="{{ url }}" alt="{{ alt }}" class="code">
        {{ /hero_icon }}
    </div>
    <div>
        <header>
            <nav class="header__inner">
                <a href="/">Bénoît Biraguma</a>
                <a href="/#">About</a>
            </nav>
        </header>
        <div class="hero__content">
            <h1 class="dev__title">{{ hero_title }}</h1>
            <a class="hero__button hero__button--dev" href="projects"><span>dev projects</span></a>
        </div>
    </div>
    <footer>
        <nav class="footer__inner">
            <a href="https://www.linkedin.com/in/beno%C3%AEt-biraguma-48422a194/" target="_blank">Let's connect</a>
        </nav>
    </footer>
    <div class="hero__image wd-image">
    {{ hero_image }}
        <img src="{{ url }}" alt="{{ alt }}">
    {{ /hero_image }}
    </div>
</section>
